/.idea/
/etc/*.kubeconfig
/etc/controller.yaml
/etc/demo/.env
/etc/demo/frontend/conf.d/.htpasswd
/etc/demo/frontend/tls/certs/fullchain.pem
/etc/demo/frontend/tls/private/privkey.pem
/etc/demo/frontend/.htpasswd
/etc/manager.yaml
/etc/project.yaml
/etc/slice.yaml
/etc/*-sliceOperator.yaml
/etc/*-worker.yaml
/etc/*-vpcServiceImport.yaml
/iac/.terraform*
/iac/terraform.tfvars
/iac/terraform.tfstate*
/README.txt